Redirect 301 /calc/app_share https://apps.apple.com/app/apple-store/id6737413316?pt=2099070&ct=app_share&mt=8
Redirect 301 /calc/hongxian https://apps.apple.com/app/apple-store/id6737413316?pt=2099070&ct=hongxian&mt=8
Redirect 301 /calc/gongwei https://apps.apple.com/app/apple-store/id6737413316?pt=2099070&ct=gongwei&mt=8